<header class="bg-white shadow-sm sticky top-0 z-50">
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <div class="flex justify-between items-center">

      <div class="flex-shrink-0">
        <a href="/" class="flex items-center space-x-2">

          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="70.000000pt" height="50.000000pt"
            viewBox="0 0 1154.000000 724.000000" preserveAspectRatio="xMidYMid meet">
            <metadata>
              Created by potrace 1.16, written by Peter Selinger 2001-2019
            </metadata>
            <g transform="translate(0.000000,1024.000000) scale(0.125000,-0.125000)" fill="#000000" stroke="none">

              <path d="M2387 7119 c-20 -5 -61 -21 -90 -35 -143 -73 -257 -187 -366 -367
-81 -134 -191 -229 -401 -347 -438 -244 -690 -573 -795 -1036 -33 -143 -44
-359 -26 -499 43 -329 195 -643 429 -886 284 -296 664 -459 1071 -459 398 0
752 149 1041 439 66 67 126 136 140 164 24 47 24 49 6 62 -17 13 -26 7 -105
-66 -204 -190 -436 -306 -696 -346 -122 -18 -332 -13 -450 12 -449 94 -821
395 -916 742 -18 64 -21 96 -17 183 7 145 38 221 125 309 35 35 66 61 70 58 3
-4 0 -40 -7 -81 -17 -100 -9 -164 23 -192 13 -11 55 -29 92 -38 99 -25 116
-37 159 -111 40 -66 67 -92 87 -79 17 10 4 95 -21 143 -11 23 -17 41 -12 41
16 0 96 -58 131 -94 40 -41 56 -45 71 -15 17 30 -20 98 -86 158 -30 27 -54 53
-54 56 0 4 6 3 13 -2 25 -19 146 -65 163 -61 51 9 1 82 -86 125 -37 19 -58 34
-49 37 7 2 31 10 52 16 24 8 37 18 37 29 0 25 -32 51 -61 51 -23 0 -135 -29
-171 -45 -19 -8 -21 -15 33 140 42 121 44 193 6 257 -37 64 -88 103 -159 123
-111 31 -231 -9 -339 -111 -32 -32 -59 -53 -59 -49 0 19 85 117 133 153 113
87 200 109 302 77 65 -21 146 -87 175 -146 l20 -37 49 20 c47 20 49 22 40 52
-12 42 -11 130 2 202 18 98 24 89 24 -39 0 -112 3 -127 28 -182 37 -78 46 -88
151 -156 85 -56 92 -63 130 -136 30 -58 46 -78 61 -78 22 0 24 17 10 94 -7 40
-7 43 11 33 10 -6 44 -35 75 -66 31 -31 63 -56 71 -56 8 0 23 9 33 21 19 19
19 21 0 56 -11 20 -45 63 -75 95 l-56 58 33 0 c44 0 132 -19 166 -37 30 -15
57 -5 57 22 0 41 -96 107 -190 131 l-45 11 40 20 c22 11 52 23 68 27 36 9 36
40 -1 55 -33 14 -56 10 -165 -27 l-79 -27 -24 28 c-15 17 -24 41 -24 60 0 54
47 211 106 355 32 75 79 190 105 255 49 120 86 182 130 215 13 10 74 47 134
82 246 141 375 244 419 332 39 78 34 111 -27 175 -38 41 -57 47 -247 77 -85
14 -186 35 -225 46 -73 21 -135 24 -198 9z m225 -206 c34 -33 42 -65 24 -107
-15 -36 -59 -66 -96 -66 -53 0 -99 47 -100 100 0 44 23 78 64 95 39 17 73 10
108 -22z" />
              <path d="M7085 6243 c-47 -12 -45 27 -45 -943 0 -889 1 -919 19 -941 l19 -24
384 -3 c479 -3 438 -19 438 172 0 89 -4 136 -12 144 -9 9 -80 12 -260 12
l-248 0 0 240 0 240 208 0 c148 0 211 3 220 12 8 8 12 56 12 150 0 126 -2 138
-19 148 -12 6 -101 10 -220 10 l-201 0 0 230 0 230 250 0 250 0 10 26 c13 34
13 213 -1 252 -7 20 -21 34 -41 41 -31 11 -721 14 -763 4z" />
              <path d="M3372 6228 c-17 -17 -17 -279 0 -296 9 -9 84 -12 276 -12 208 0 263
-3 259 -12 -3 -7 -135 -292 -293 -633 l-287 -620 -5 -135 c-4 -127 -2 -137 18
-163 l21 -27 453 0 c392 0 454 2 474 16 21 14 22 22 22 153 0 93 -4 141 -12
149 -9 9 -89 12 -300 12 -158 0 -288 3 -288 6 0 6 97 217 431 941 l149 323 0
133 c0 104 -3 137 -16 155 l-15 22 -438 0 c-326 0 -440 -3 -449 -12z" />
              <path d="M4432 6228 c-7 -7 -12 -21 -12 -31 0 -11 99 -261 220 -556 l220 -537
0 -360 c0 -309 2 -363 16 -382 14 -21 22 -22 158 -22 126 0 145 2 159 18 15
17 17 58 17 381 l0 363 219 527 c120 289 222 536 225 548 4 12 2 31 -4 43 -10
19 -20 20 -164 20 -132 0 -157 -3 -175 -17 -15 -12 -58 -117 -135 -333 -63
-173 -119 -328 -126 -345 l-12 -30 -10 25 c-5 14 -61 169 -124 345 -76 214
-121 326 -135 338 -18 14 -43 17 -173 17 -105 0 -156 -4 -164 -12z" />
              <path d="M5816 6219 c-14 -21 -16 -111 -16 -929 0 -803 2 -908 16 -928 14 -21
22 -22 153 -22 121 0 140 2 154 18 15 17 17 56 17 360 l0 342 65 0 c36 0 65
-2 65 -4 0 -14 242 -692 251 -703 9 -11 44 -13 168 -11 l156 3 -1 40 c-1 26
-48 157 -137 383 -76 189 -137 345 -137 348 0 2 14 11 31 19 87 46 153 139
191 270 19 69 22 103 22 245 0 126 -4 180 -17 230 -50 183 -136 278 -300 333
-56 19 -92 21 -363 25 l-302 4 -16 -23z m514 -280 c111 -24 145 -90 144 -279
-1 -257 -48 -308 -286 -310 l-48 0 0 300 0 300 70 0 c38 0 92 -5 120 -11z" />
              <path d="M8092 6228 c-7 -7 -12 -20 -12 -30 0 -9 88 -208 195 -441 107 -233
195 -428 195 -434 0 -6 -94 -216 -210 -467 -115 -251 -210 -464 -210 -474 0
-37 19 -42 176 -42 130 0 155 3 173 18 13 10 67 125 135 288 62 149 118 280
124 290 10 18 11 18 18 -1 53 -142 238 -573 251 -582 12 -9 65 -13 180 -13
163 0 163 0 174 24 10 21 4 41 -44 143 -30 65 -127 275 -216 467 l-162 348
201 436 c173 376 200 439 191 459 -10 23 -13 23 -170 23 -181 0 -186 -2 -215
-80 -59 -156 -191 -459 -197 -453 -6 7 -119 276 -179 426 -43 110 -37 107
-224 107 -113 0 -166 -4 -174 -12z" />
            </g>
          </svg>


        </a>
      </div>

      <div class="hidden md:flex md:space-x-8">
        <a href="/"
          class="text-base font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Inicio</a>
        <a href="/catalogo"
          class="text-base font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Catálogo</a>
        <a href="/orders/my-orders"
          class="text-base font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Pedidos</a>
        <% if (locals.user && user.rol==='ARTESANO' ) { %>
          <a href="/inventory"
            class="text-base font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Mi
            Inventario</a>
          <% } %>

            <a href="/about"
              class="text-base font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Nosotros</a>
      </div>

      <div class="flex items-center space-x-3 sm:space-x-4">
        <a href="/catalogo" class="text-gray-400 hover:text-gray-500" title="Buscar">
          <span class="sr-only">Buscar</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </a>

        <a href="/cart" class="text-gray-400 hover:text-gray-500 relative" title="Carrito">
          <span class="sr-only">Carrito</span>
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z">
            </path>
          </svg>
          <% if (locals.user && locals.user.cartItemCount> 0) { %>
            <span
              class="absolute -top-2 -right-2 bg-red-600 text-white text-xs w-4 h-4 rounded-full flex items-center justify-center">
              <%= user.cartItemCount %>
            </span>
            <% } else if (!locals.user && locals.guestCartItemCount> 0) { %>
              <span
                class="absolute -top-2 -right-2 bg-red-600 text-white text-xs w-4 h-4 rounded-full flex items-center justify-center">
                <%= guestCartItemCount %>
              </span>
              <% } %>
        </a>

        <% if (locals.user) { %>
          <span class="hidden sm:inline text-sm font-medium text-gray-700">
            Hola, <%= locals.user.name %>
          </span>
          <a href="/perfil" class="text-gray-400 hover:text-gray-500 ml-2" title="Mi Perfil">
            <span class="sr-only">Perfil</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A18.75 18.75 0 0 1 12 22.5c-5.78 0-10.675-3.07-11.999-7.682Z" />
            </svg>
          </a>
          <a href="/logout" class="ml-2 text-sm font-medium text-gray-700 hover:text-gray-900">Logout</a>
          <% } else { %>
            <a href="/login" class="text-sm font-medium text-primary hover:text-primary-700">Login</a>
            <a href="/register"
              class="ml-2 sm:ml-4 inline-flex items-center justify-center px-3 sm:px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-800 hover:bg-gray-700 transition duration-150">
              Registrarse
            </a>
            <% } %>

              <div class="md:hidden flex items-center ml-2">
                <button id="mobile-menu-button"
                  class="text-gray-500 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary">
                  <span class="sr-only">Abrir menú</span>
                  <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                  </svg>
                </button>
              </div>

      </div>
    </div>

    <div id="mobile-menu" class="md:hidden hidden mt-2 pb-3 space-y-1">
      <a href="/"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Inicio</a>
      <a href="/catalogo"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Catálogo</a>
      <a href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Artesanos</a>
      <a href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Nosotros</a>
      <a href="#"
        class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900">Contacto</a>
    </div>
  </nav>
</header>